.img-itemDetail{
    width: 300px;
    height: 300px;
    
}

.container-ItemDetail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    gap: 10rem;
}
.flex1-ItemDetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex2-ItemDetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

