.CartWidget{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    width: 70px;
    height: 70px;
    font-size: 2em;
    .icon-widget{
        font-size: 40px;
    }
    
}