.contenedorCheckout{
    display: flex;
    flex-direction: row;
}
#suOrden{
    padding-top: 3rem;
}

.vl {
    border-left: 1px solid rgb(168, 168, 168);
    height: 400px;
    position: relative;
    margin-top: 2rem;
    
    
    
  }