.logo1 {
    width: 100px;
    height: 70px;
    font-size: 2em;
    max-inline-size: 100%;
    block-size: auto;
    
}

.header-linkc {
    color: white;

    &:hover{
        color: white;
    }
}

.submenu{
    
    
    @media screen and (max-width: 960px){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

}

